
@{
    ViewBag.Title = "ActiveUser";
}

<h2>فعال سازی حساب کاربری</h2>
<div>
    <h2>@ViewBag.UserName عزیز !</h2>
    <p>حساب کاربری شما فعال شد از طریق این 
    <a href="/login">لینک</a>
    می توانید وارد سایت شوید.</p>
</div>

