@model DataLayer.Users
@{
    ViewBag.Title = "بازیابی کلمه عبور";
}
<div class="alert alert-success">
    <h2>@Model.UserName عزیز !</h2>
    <p>
        ایمیلی حاوی لینک بازیابی کلمه عبور به ایمیل @Model.Emain ارسال شد لطفا وارد ایمیل شده و روی لینک بازیابی کلیک کنید.
    </p>
</div>
