@model IEnumerable<DataLayer.Product_Groups>

<section class="border-radius category-side">
    <header><h3> دسته بندی ها </h3></header>
    <article>
        <ul class="category-menu">
            @foreach (var group in Model.Where(x => x.ParentID == null))
            {
            <li>
                <h2><a href="">@group.GroupTitle</a></h2>
                @if (Model.Any(g => g.ParentID == group.GroupID))
                {
                <ul class="child-category-menu">
                    @foreach (var subGroup in Model.Where(x => x.ParentID == group.GroupID))
                    {
                        <li><h2><a href=""> @subGroup.GroupTitle </a> <span>(0)</span></h2></li>
                    }
                </ul>
                }
            </li>
            }
        </ul>
    </article>
</section>